[submodule "drone_racing_ws/src/hector_quadrotor_tutorial/src/hector_gazebo"]
	path = drone_racing_ws/src/hector_quadrotor_tutorial/src/hector_gazebo
	url = https://github.com/tu-darmstadt-ros-pkg/hector_gazebo.git
[submodule "drone_racing_ws/src/hector_quadrotor_tutorial/src/hector_localization"]
	path = drone_racing_ws/src/hector_quadrotor_tutorial/src/hector_localization
	url = https://github.com/tu-darmstadt-ros-pkg/hector_localization.git
[submodule "drone_racing_ws/src/hector_quadrotor_tutorial/src/hector_models"]
	path = drone_racing_ws/src/hector_quadrotor_tutorial/src/hector_models
	url = https://github.com/tu-darmstadt-ros-pkg/hector_models.git
[submodule "drone_racing_ws/src/hector_quadrotor_tutorial/src/hector_quadrotor"]
	path = drone_racing_ws/src/hector_quadrotor_tutorial/src/hector_quadrotor
	url = https://github.com/tu-darmstadt-ros-pkg/hector_quadrotor.git
